<footer>
  <div class="footer container">
    <div class="footer__socials">
      <h5>Follow Us</h5>
    <div class="social-icons">
      <a
        href="https://www.facebook.com/profile.php?id=100086944503361"
        target="_blank"
        aria-label="Facebook"
      >
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a
        href="https://twitter.com/ATUghana"
        target="_blank"
        aria-label="Twitter"
      >
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a
        href="https://www.youtube.com/accratechnicaluniversity"
        target="_blank"
        aria-label="YouTube"
      >
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a
        href="https://www.instagram.com/accounts/login/?next=/atuverified/"
        target="_blank"
        aria-label="Instagram"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    </div>

    <span>Copyright &copy; ATUfundraisers 2024</span>
  </div>
</footer>
