<!-- views/partials/header.ejs -->
<% include('./head.ejs') %>
<header>
  <% if (title === 'Homepage') { %>

  <div class="header">
    <div class="header__hero-section container">
      <div class="header__hero-section-content">
        <div class="hero-section__title">
          <img src="/images/atulogo-removebg-preview.png" alt="" />
          <h3>Accra Technical University</h3>
          <p>Empowering Tomorrow's Innovators</p>
        </div>
      </div>
    </div>
  </div>
  <% } else if (title === 'About Us') { %>
  <div class="header about_us">
    <div class="header__hero-section container">
      <div class="header__hero-section-content">
        <div class="hero-section__title">
          <h2>DISCOVER OUR STORY</h2>
          <span class="p fs-5 text-white">
            Think of us as the friendly neighbor who’s always around the corner,
            <br />
            not the elusive unicorn you only hear about in legend. <br />We're
            here, we’re real, and we promise to make you feel at home
          </span>
        </div>
      </div>
    </div>
  </div>
  <% } else if (title === 'Contact Us') { %>
  <div class="header contact_us" style="height: 50vh">
    <div class="header__hero-section container">
      <div class="header__hero-section-content">
        <div class="hero-section__title">
          <h2>Get In Touch</h2>
          <span class="p fs-5 text-white"
            >You're not going to hit a ridiculously long phone menu when you
            call us.<br />
            Your email isn't going to the inbox abyss, never to be seen or heard
            from again.</span
          >
        </div>
      </div>
    </div>
  </div>
  <% } else if (title === 'Projects') { %>
  <div class="header our_projects" style="height: 50vh">
    <div class="header__hero-section container">
      <div class="header__hero-section-content">
        <div class="hero-section__title">
          <h1>See Our Plans</h1>
          <span class="p fs-5 text-white">Our visions are just right</span>
        </div>
      </div>
    </div>
  </div>
  <% } else if (title === 'Events Page') { %>
  <div class="header events__page">
    <div class="header__hero-section container">
      <div class="header__hero-section-content">
        <div class="hero-section__title">
          <h1>EVENTS</h1>
          <span class="p fs-5 text-white">Discover the Excitement of Our School Community.<br> Explore Upcoming Adventures and Cherish Past Memories</span>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</header>
