
<section class="mission">
  <div class="mission__content container">
    <h1>Our Aim</h1>
    <i class="fa-solid fa-crosshairs"></i>
    <p class="mission__aim-text">
      To support and enhance the educational experience at Accra Technical
      University by raising funds for essential resources, infrastructure, and
      student support programs.
    </p>
    <div class="mission__content-aim">
      <div class="mission__content-mission">
        <h4 class="mission__header">Our Mission</h4>
        <div class="mission__contennt-info p-1">
            <i class="fa-solid fa-person-circle-question fa-xl"></i>
        <p>
          To engage alumni, partners, and the broader community in a
          collaborative effort to provide financial support for Accra Technical
          University, ensuring that students have access to the best possible
          educational opportunities and facilities.
        </p>
        </div>
      </div>
      <div class="mission__content-vision">
        <h4 class="vision__header">Our Vision</h4>
        <div class="vision__content-info p-1">
            <i class="fa-solid fa-eye-low-vision fa-xl"></i>
        <p>
          To be a leading fundraising platform that empowers Accra Technical
          University to achieve academic excellence and foster innovation,
          creating a brighter future for its students and the community.
        </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mision__image"><img src="" alt="" /></div>
</section>
