<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <style>
    .nav__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav__link {
      list-style: none;
      display: flex;
      padding-left: 0;
      margin: 0;
    }
    .nav__link li {
      margin: 0 10px;
    }

    .nav__profile-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 10px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .show {
      display: block;
    }
  </style>

  <body>
    <nav class="nav top-fixed">
      <a href="/">
        <img src="/images/atulogo.jpg" alt="" class="logo" />
      </a>
      <input type="checkbox" id="nav-check" />
      <div class="nav-header"></div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="/about" class="nav__link-list">About Us</a>
        <a href="/events" class="nav__link-list">Events</a>
        <a href="/projects" class="nav__link-list">Projects</a>
        <a href="/contact-us" class="nav__link-list">Contact Us</a>
        <% const titlesToShow = ['Homepage','Projects', 'Contact Us', 'Project Details', 'Profile Page', 'Event Details', "About Us", "Events Page", ];
        %> <% const currentTitle = title; %> <% if
        (titlesToShow.includes(currentTitle)) { %>
        <span class="nav__register nav__link-list" id="navRegister">
          <!-- Placeholder for dynamic content -->
        </span>
        <% } %>
      </div>
    </nav>

    <script>
      document.addEventListener("DOMContentLoaded", async function () {
        try {
          const response = await axios.get("/users/profile", {
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${document.cookie.split("=")[1]}`,
            },
          });

          const data = response.data.user;
          const navRegister = document.getElementById("navRegister");

          // Define mapping for titles and image paths
          const imageNameMap = {
            Homepage: `/${data.profilePicture}`,
            "Project Details": `/${data.profilePicture}`,
            "Profile Page": `/${data.profilePicture}`,
            "Event Details": `/${data.profilePicture}`,
            Projects: `/${data.profilePicture}`,
            "Contact Us": `/${data.profilePicture}`,
            "Project Details": `/${data.profilePicture}`,
            "Profile Page": `/${data.profilePicture}`,
            "Event Details": `/${data.profilePicture}`,
            "About Us": `/${data.profilePicture}`,
            "Events Page": `/${data.profilePicture}`,
          };

          const currentTitle = "<%= currentTitle %>";
          console.log("Current Title is", currentTitle);

          // Use the mapped image or nothing if the title is not in the map
          const imagePath = imageNameMap[currentTitle] || "";
          console.log("Image Path:", imagePath);

          if (data && data.profilePicture && imagePath) {
            const profilePicture = `<img src="${imagePath}" alt="Profile" class="nav__profile-picture" id="profile-picture" />`;
            navRegister.innerHTML = profilePicture;
            console.log("This is the profile picture", profilePicture);

            // Dropdown menu items
            const dropdownMenu = `
              <div class="dropdown-content" id="dropdownContent">
                <a href="/users/profile">Profile</a>
                <a href="#" id="logoutButton">Logout</a>
                ${
                  data.isAdmin
                    ? '<a href="/admin" id="adminDropdownLink">Admin</a>'
                    : ""
                }
              </div>
            `;
            navRegister.insertAdjacentHTML("beforeend", dropdownMenu);

            // Toggle dropdown on profile picture click
            const profilePictureElement =
              document.getElementById("profile-picture");
            const dropdownContent = document.getElementById("dropdownContent");
            profilePictureElement.addEventListener("click", function () {
              dropdownContent.classList.toggle("show");
            });

            // Handle logout button click
            const logoutButton = document.getElementById("logoutButton");
            logoutButton.addEventListener("click", function (event) {
              event.preventDefault(); // Prevent the default anchor tag behavior

              axios
                .post(
                  "/users/logout",
                  {},
                  {
                    headers: {
                      Authorization: `Bearer ${document.cookie.split("=")[1]}`,
                    },
                  }
                )
                .then(() => {
                  window.location.href = "/login";
                })
                .catch((error) => {
                  console.error("Error logging out:", error);
                });
            });

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
              if (!event.target.matches(".nav__profile-picture")) {
                const dropdowns =
                  document.getElementsByClassName("dropdown-content");
                for (let i = 0; i < dropdowns.length; i++) {
                  const openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains("show")) {
                    openDropdown.classList.remove("show");
                  }
                }
              }
            };
          } else {
            const registerButton = `<a href="/login" class="nav__register-button" id="register-button">Login</a>`;
            navRegister.innerHTML = registerButton;
          }
        } catch (error) {
          console.error("Error fetching user data:", error);
          // If there's an error fetching profile data, ensure register button is shown
          const registerButton = `<a href="/login" class="nav__register-button" id="register-button">Login</a>`;
          const navRegister = document.getElementById("navRegister");
          navRegister.innerHTML = registerButton;
        }
      });
    </script>
  </body>
</html>
