<hr />

<section class="meet__staff container">
  <header>
    <h2>Meet Our Staff</h2>
  </header>

  <div class="staff__container">
    <div class="staff__item">
      <div class="staff__image">
        <img
          src="/images/chairman-of-Governing-Council-DR-WILFRED-K.-ANIM-ODAME.jpg"
          alt="Dr Wilfred"
        />
      </div>
      <div class="staff__info">
        <h5>Dr. Wilfred K. Anim-Odame</h5>
        <p>Chairman – Univ. Council</p>
      </div>
    </div>

    <div class="staff__item">
      <div class="staff__image">
        <img
          src="/images/PRO-VC-PROF-AMEVI-ACAKPOVI.jpg"
          alt="Amevi Acakpovi"
        />
      </div>
      <div class="staff__info">
        <h5>Prof. Amevi Acakpovi</h5>
        <p>Pro-Vice-Chancellor</p>
      </div>
    </div>
    <div class="staff__item">
      <div class="staff__image">
        <img
          src="/images/DIRECTOR-FINANCE-Frank-Owusu-Boateng.jpg"
          alt="Frank-Owusu-Boateng"
        />
      </div>
      <div class="staff__info">
        <h5>Mr. Frank Owusu Boateng</h5>
        <p>Director of Finance</p>
      </div>
    </div>
    <div class="staff__item">
      <div class="staff__image">
        <img
          src="/images/REGISTRAR-SYLVIA-BEATRICE-OPPONG-MENSAH.jpg"
          alt="SYLVIA-BEATRICE-OPPONG-MENSAH"
        />
      </div>
      <div class="staff__info">
        <h5>Dr. Mrs. Sylvia B. Oppong-Mensah</h5>
        <p>Registrar</p>
      </div>
    </div>
  </div>
</section>
