<section class="why__donate">
  <div class="why__donate-container">
    <div class="why__donate-left">
      <header>
        <h3 class="py-2">Why Donate</h3>
      </header>
      <div class="why__donate-text">
        <p class="quote">
          No one has ever become poor by giving. We make a living by what we
          get, but we make a life by what we give. The measure of a life, after
          all, is not its duration, but its donation. Your greatness is not what
          you have, but in what you give.
        </p>
        <p class="quote-by"><span>Quote By:</span> <br>Winston Churchill</p>
        </div>
        <div class="why__donate-text">
        <p class="quote">
          The value of life is not in its duration, but in its donation. You are not important because of how long you live, you are important because of how effective you live. The measure of a life, after all, is not its duration, but its donation. No one is useless in this world who lightens the burden of it to anyone else
        </p>
        <p class="quote-by"><span>Quote By:</span> <br>Booker T. Washington</p>
      </div>
      <div class="why__donate-btn">
        <a href="/projects" class="">Donate</a>
      </div>
    </div>
    <div class="why__donate-right">
      <p class="quote">University <span>Education</span> is not just a path to knowledge but a <span>journey</span> of <span>self-discovery</span> and <span>growth</span></p>
      <p class="quote-by"><span>Quote By:</span><br>Kekeli Lit</p>
    </div>
  </div>
</section>
