@import url("./style.css");

.events {
  padding-block: 2em;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/images/students-summit.jpg");
    background-size: cover;
    background-attachment: fixed;

  .events__box {
    display: flex;
    gap: 10px;
    position: relative;

    @media (max-width: 800px) {
      & {
        flex-direction: column-reverse;
      }
    }
  }

  .events__right {
    border-radius: 15px;
    flex: 1;
    position: relative;
    overflow: hidden;
    background-image: url("/images/ghana-graduating-class-24.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease, background 0.5s ease;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 1;

    .events__head {
      position: relative;
      z-index: 2;

      h2::after {
        content: "";
        display: inline-block;
        height: 3px;
        width: 40px;
        background: black;
        position: absolute;
        top: 100%;
        left: 0%;
        border-radius: 5px;
      }
    }

    .events__right-text {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      color: white;
      font-family: "Poppins";
      font-weight: 600;

      span:first-child {
        margin-bottom: -15px;
      }

      span:last-child {
        margin-top: -15px;
      }
    }

    .events__right-events {
      color: white;
      font-size: 1.5rem;
      font-family: "Roboto";
      z-index: 2;
      font-weight: 400;
    }
  }

  .events__right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      rgba(208, 167, 59, 0.85) 50%,
      transparent 50%
    );
    transition: transform 0.5s ease, background 0.5s ease;
    z-index: 1;
  }

  .events__right:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    transition: background 0.5s ease;
  }

  .events__cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    border-radius: 15px;
  }

  .events__card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    position: relative;
    border-radius: 15px;
  }

  .events__card-box:nth-child(3) {
    grid-column: span 2;
    border-radius: 15px;
  }

  .events__card {
    width: 100%;
    height: 175px;
    position: relative;
    cursor: pointer;
    transition: 0.25s linear;
    border-radius: 15px;

    &:hover .events__card-footer {
      transform: translateY(-10px);
      transition: 0.5s linear;
    }
  }

  .events__card::before {
    border-radius: 15px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.779) 60%, transparent);
  }

  .events__card-body {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }

  .events__card-image {
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
  }

  .events__card-footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .events__card-title {
      font-size: 1.25rem;
      font-weight: 500;
      color: white;
    }

    .venue {
      color: white;
    }

    .events__time-and-date {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: white;
      font-weight: 200;
      font-size: 0.85rem;
    }

    p,
    h6 {
      margin: 0;
      padding: 0;
    }
  }

  .events__card-title,
  .events__card-text {
    margin: 0;
    padding: 5px 0;
  }
}
