@import url("./style.css");

.projects {
  padding-block: 1em;
  border-radius: 15px;
  margin-top: -30rem;
  z-index: 2;
  position: relative;

  hr{
    background: var(--primary-yellow) !important;
  }
  header {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 15px;

    h2 {
      color: var(--primary-yellow);
      text-align: start;

    }
  }

  .projects__cards {
    display: flex;
    justify-content: center;
    gap: 30px;

    .projects__card {
      padding: 0;
      width: 300px;
      border: 1px solid rgb(222, 222, 222);
      transition: 0.5s all;

      &:hover {
        filter: none;
        transform: translateY(-10px);
    }

      .card__image {
        width: 100%;
        overflow: hidden;
        height: 200px;
        filter: grayscale(15);
      }

      &:hover .card__image{
        filter: none;
      }

      .project__card-content {
        margin-top: -50px;
        padding: 25px 15px;
        background-color: white;
        clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0% 100%);

        p {
          margin: 0;
        }

        .project__card-amount{
          font-size: 1rem;
          color: var(--primary-blue);
          font-weight: 900;
          text-align: end;
        }

        .project__card-title {
          font-family: "Poppins";
          font-size: 1.25rem;
          color: var(--primary-yellow);
        }

        .project__card-text {
          color: var(--primary-blue);
        }

        .project__card-department{
            font-size: 13px;
            text-align: end;
            color: var(--primary-yellow);
        }
      }
    }
  }
}
