<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include('../partials/nav.ejs') %> <%- include('../partials/header.ejs')
    %>
    <div class="aboutus__container container">
        <h2>Discover <span>ATU</span></h2>
      <div class="aboutus__info">
        <div class="aboutus__left">
          <img src="/images/atuschool.jpg" alt="" class="img1" />
          <img src="/images/atulogo.jpg" alt="" class="img2" />
        </div>
        <div class="aboutus__right">
          <p>
            As Ghana’s premier Technical University, Accra Technical University
            (ATU) has been at the forefront of hands-on, competency-based
            education since its humble beginnings as a Technical Institute. Our
            institution excels in diverse fields of engineering and industrial
            practice, thanks to our highly skilled faculty who bring invaluable
            knowledge and expertise to our students.
          </p>
          <p>
            Driven by the Technical University Act, 2016 (922), ATU is dedicated
            to achieving exceptional results while keeping pace with global
            technical advancements through innovation. Despite the evolving
            academic landscape, we have consistently maintained high standards
            of quality.
          </p>
          <p>
            With technology as the cornerstone of the global economy, we are
            committed to employing thoughtful strategies to train and transform
            our students into exceptional graduates. Our mission to offer
            top-notch education, practical training, and cutting-edge research
            helps cultivate leaders and innovators, making ATU the top choice
            for many aspiring students.
          </p>
          <p>
            Conveniently located in the Central Business District of Accra, ATU
            is uniquely positioned as the only Technical University in the
            “inner city.” We are surrounded by esteemed institutions such as
            Movenpick and Accra City Hotel (formerly Novotel) to the south, the
            Trade Union Congress (TUC), and the City Campus of the University of
            Ghana to the north. To the west, we are bordered by the Ghana Cocoa
            Board, the Central Police Command, and major telecom companies like
            AirtelTigo and MTN.
          </p>
        </div>

        
      </div>
      <div class="aboutus__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254098.3496672283!2d-0.4079234312570932!3d5.6716233877957585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9098819a2f8b%3A0x74f8d656f4a1981e!2sAccra%20Technical%20University!5e0!3m2!1sen!2suk!4v1721757917097!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
  </body>
</html>
