<!DOCTYPE html>
<%- include("../partials/head.ejs") %>

<body>
  <%- include('../partials/nav.ejs') %> <%- include('../partials/header.ejs') %>
  <div class="contactus__container">
    <div class="contactus__info-container">
      <i class="fa-solid fa-location-dot"></i>
      <span>P. O Box GP 561, Barnes road, Accra.</span>
      <span>GA-106-2535</span>
    </div>
    <div class="contactus__info-container">
        <i class="fa-brands fa-whatsapp"></i>
      <a
        href="https://wa.me/0543264917"
        target="_blank"
        rel="noopener noreferrer"
      >
        
        <span>0543264917</span>
      </a>
    </div>
    <div class="contactus__info-container">
      <i class="fa-solid fa-phone"></i>
      <a href="tel:0544368159">
        <span>0544368159</span>
      </a>
      <a href="tel:0233332095371">
        <span>023333 2095371</span>
      </a>
    </div>
    <div class="contactus__info-container">
      <i class="fa-regular fa-envelope"></i>
      <a href="mailto:info@atu.edu.gh">
        <span>info@atu.edu.gh</span>
      </a>
      <a href="mailto:pr@atu.edu.gh">
        <span>pr@atu.edu.gh</span>
      </a>
    </div>
  </div>
</body>
