<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs') %>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%- include('../../partials/Admin/nav.ejs') %>
      <%- include('../../partials/Admin/sidebar.ejs') %>
      <span>
        <%- include('../../partials/Admin/mainpage.ejs', {
        projects: projects,
        users: users,
        donations: donations,
        events: events,
        alumni: alumni,
        nonAlumni: nonAlumni,
        totalDonationAmount: totalDonationAmount,
      }) %>
      </span>
    </div>
  </body>
</html>
