<body>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
        </div>

        <h2>Summary</h2>
        <p>Total Projects: <%= projects ? projects.length : 0 %></p>
        <p>Total Users: <%= users ? users.length : 0 %></p>
        <p>Total Donations: <%= totalDonationAmount %></p>
      </div>
    </div>
    <!-- /.content-header -->
  </div>
</body>
